* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
  overflow-x: hidden;
}

:root {
  --ui-scale: 0.8;
}
